:root {
    --primary-text-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --footer-second-text-color: rgba(255, 255, 255, 0.4);
    --footer-three-text-color: rgba(255, 255, 255, 0.6);
    --bacground-three-color: rgba(47, 48, 58, 0.8);
    --bacground-color: #E5E5E5;
    --bacground-second-color: #F5F4FA;
    --footer-bacground-color: #2F303A;
}

body {
    color: var(--primary-text-color:);
    font-family: 'Roboto', sans-serif;
}

h2, h3 {
    font-weight: 700;
}

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link, .current {
    text-decoration: none;
}

/* Шапка сайта */
.logo {
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}

.site-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.logo:hover, .logo:focus {
    color: var(--accent-color);
}

.logo-accent {
    color: var(--accent-color);
}

.logo-accent:hover, .logo-accent:focus {
    color: var(--primary-text-color);
}

.site-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.site-nav .link.current:hover, .site-nav .link.current:focus {
    color: var(--primary-text-color);
}

.site-nav .link-contact {
    color: var(--text-color);
}

.site-nav .link-contact:hover, .site-nav .link-contact:focus {
    color: var(--accent-color);
}

/* Футер сайта */
.futer-logo {
    color: var(--primary-white-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.futer-logo-accent {
    color: var(--accent-color);
}

.futer-logo-accent:hover, .futer-logo-accent:focus {
    color: var(--primary-white-color);
}

.futer-logo:hover, .futer-logo:focus {
    color: var(--accent-color);
}

.futer-logo, .futer-logo-accent {
    background-color: var(--footer-bacground-color);
}

.adress {
    color: var(--primary-white-color);
    background-color: var(--footer-bacground-color);
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.futer-link .futer-link-contact {
    color: var(--footer-three-text-color);
    background-color: var(--footer-bacground-color);
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.futer-link .futer-link-contact:hover, .futer-link .futer-link-contact:focus {
    color: var(--accent-color);
}

.social-links {
    color: var(--primary-white-color);
    background-color: var(--footer-bacground-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.copirait {
    color: var(--footer-second-text-color);
    background-color: var(--footer-bacground-color);
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
}